{% extends "base.html" %}

{% block head_title %}
{{Judul}}
{% endblock head_title %}

{% block title %}
<h2 class="mt-5 text-success">{{Judul}}</h2>
{% endblock title %}

{% block contents %}

<h1>{{Heading}}</h1>


        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title">{{DetailArtikel.judul}}</h2>
                <span class="text-secondar">{{DetailArtikel.pubdate}}</span>
                <p class="text-dark fst-norma">{{DetailArtikel.isi}}</p>
            </div>
        </div>

{% endblock contents %}