<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>

    {% include "navbar.html" %}

    <h2>Pengaturan ulang kata sandi telah terkirim</h2>
    <p>Kami telah mengirimkan petunjuk untuk mengatur kata sandi Anda melalui email, jika ada akun dengan email yang Anda masukkan. Anda akan segera menerimanya.</p>
    <p>Jika Anda tidak menerima email, pastikan Anda telah memasukkan alamat yang Anda daftarkan, dan periksa folder spam Anda.</p>


</body>
</html>