<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>

    {% include "navbar.html" %}

    <h1>Halaman Reset Password</h1>

    <p>Anda lupa kata sandi? silahkan masukan alamat email anda di bawah ini!</p>

    <form method="post">
        {% csrf_token %}

        <label for="email">Masukan alamat email</label>
        <input type="email" name="email" id="email">

        <button type='submit'>Reset Password saya</button>

    </form>

</body>
</html>