<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>

    {% include "navbar.html" %}

    <h2>Masukan password baru</h2>

    {% if validlink %}
    
        <form method="post">
            {% csrf_token %}

            <label for="new_password1">New Password</label>
            <input type="password" name="new_password1" id="new_password1">
            <br>
            <label for="new_password2">Confirmation New Password</label>
            <input type="password" name="new_password2" id="new_password2">
            <br>

            <button type="submit">Reset Password</button>

        </form>

    {% else %}
        <p>link tidak valid</p>
    {% endif %}



</body>
</html>