* {
    font-family: "Poppins";
}

#banner {
    width: 100%;
}

h2 {
    margin: 20px;
}

nav ul {
    background-color: #191a19;
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    float: left;
}

nav a {
    color: #f7f0fd;
    padding: 20px;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: #5e17eb;
}